<% if (tournaments && tournaments.any?) %>
<div class="small-accent pull-left"></div>
    <h3><%= title %>
    </h3>
    
    <table class="table table-responsive">

      <% tournaments.each do |t| %>
          <tr>
            <td>
              <p><%= link_to t.name, tournament_path(t.id) %></p>
            </td>
            <td>
              <p><%= t.start_date.strftime("%m/%d/%Y %H:%M") %></p>
            </td>
            <td>

            </td>
          </tr>
      <% end %>
    </table>
<% end %>