<h2>User Dashboard</h2>




<div class="mytournaments-panel">

<%= render 'dashboard/tournamentlist', title: "Tournaments I'm Participating In", tournaments: @participatingtournaments %>
</div>

<div class="mycreatedtournaments-panel">
  <%= render  'dashboard/tournamentlist', title:"Tournaments I've Created", tournaments: @createdtournaments %>
</div>