<!--Mockup Dashboard Page-->
<h2> Welcome, User!</h2>
<div class="search-panel">
  <h3>Search Tournaments:
  </h3>
  <span><label>Title:</label><input type="text"></span>
  <span><label>Date from: </label> <input type="text"> <label>to:</label> <input type="text"></span>
  <span><label>Near Location:</label><input type="text"></span>


  <button>Search</button>

</div>

<div class="dashboard-panel">
<div class="tournaments-panel">
  <h3>
    Find tournaments:</h3>
  Order By:
  <select>
    <option> Name(A-Z)</option>
    <option> Newest</option>
    <option> Closest</option>
  </select>
  <table>
    <tr>
      <td><a href="#">Tournament 1</a></td>
      <td>Some short description...</td>
      <td>9/26/2016</td>
      <td>
        <button type="button">Register</button>
        <button type="button"> Bookmark</button>
        <button type="button"> Share</button>
      </td>
      <td></td>
    </tr>
    <tr>
      <td><a href="#">Tournament 2</a></td>
      <td>Some short description...</td>
      <td>9/26/2016</td>
      <td>
        <button type="button">Register</button>
        <button type="button"> Bookmark</button>
        <button type="button"> Share</button>
      </td>
      <td></td>
    </tr>

  </table>
  <button>See More </button>

</div>

<div class="mytournaments-panel">
  <h4>My Upcoming Tournaments</h4>
  <table>
    <tr>
      <td><a href="#">My Tournament 1</a></td>
      <td>9/20/2016</td>


    </tr>
    <tr>
      <td><a href="#">My Tournament 2</a></td>
      <td>9/20/2016</td>
    </tr>
  </table>
  <button>See All </button>
</div>
</div>
