<h2>User Dashboard</h2>




<script>
  $(document).ready(function () {
    $('#dashboardCalendar').fullCalendar({
      header: {
        left: 'prev,next',
        center: 'title'
      },
      eventSources: [
        {
          url: 'participatingtournaments_feed',
          color: 'blue',
          textColor: 'white'
        },
        {
          url: 'createdtournaments_feed',
          color: 'green',
          textColor: 'white'
        },
        {
          url: 'spectatortournaments_feed',
          color: 'purple',
          textColor: 'white'
        }
      ]

    });
  });
</script>
<div id="userDashboard" class="container">
  <div class="row">
    <div class="col-md-9">
      <div id="dashboardCalendar">
      </div>
    </div>
    <div class="col-md-3">
      <div class="mytournaments-panel">
     
        <%= render 'dashboard/tournamentlist', title: "Tournaments I'm Participating In", tournaments: @participatingtournaments %>
      </div>
      <div class="mycreatedtournaments-panel">

        <%= render 'dashboard/tournamentlist', title: "Tournaments I've Created", tournaments: @createdtournaments %>
      </div>
      <div class="myspectatortournaments-panel">

        <%= render 'dashboard/tournamentlist', title: "Tournaments I'm Spectating", tournaments: @spectatortournaments %>
      </div>

    </div>
  </div>
  </div>

