<h1>Credit Card</h1>

<div class="cardType">
  <h3>
    Credit Card Type:</h3>
  Select:
  <select>
    <option> Visa</option>
    <option> MasterCard</option>
    <option> American Express</option>
    <option> Debit</option>
  </select>
</div>

<div class="cardInfo">
  <h3>Input your credit card info:
  </h3>
  <span><label>Number:</label><input type="text"></span>
  <span><label>Security Number: </label><input type="text"></span>
  <span><label>Expiration Date:</label><input type="text"></span>

  <button>Submit</button>

</div>
