<div style="border-style: dashed;min-height: 300px">
<tr>
<img src="<%= tournament.logo%>" style="max-height:100px;max-width: 100px"/>
  <h1><%=tournament.name%></h1>
  <h2>Ticket Number:<%=person.ticket_number%></h2>
  <img src="<%=barcode%>"/>
</div>