<!DOCTYPE HTML>

<h1>Sign Up For a Tournament</h1>
<h4>Select a Tournament to proceed to Signup</h4>


    <% @tournament.each do |tournament| %>
        <tr>
          <div class="content-card-title">
            <%= tournament.start_date.strftime("%m/%d/%Y at %I:%M%p") %>
          </div>
          <div class="content-card">
            <td>
              <%= link_to tournament.name, signup_path(tournament), data: { turbolinks: false } %>
            </td>
          </div>
        </tr>
    <% end %>
	
