<h1> Transaction number: <%= @transaction_num%></h1>

<% if @tournament_id %>
    <%= link_to 'Back to Event Page!', {:controller=> 'tournaments',:action=> 'show',  :id=>@tournament_id}, data: { turbolinks: false }, :class=>'btn btn-default'%>
<% end %>
<table class="table">
  <tr>
    <th>Ticket Number</th>
    <th></th>
    <th></th></tr>
  <% @tickets.each do|t|%>
      <tr>
        <td><%=t.ticket_number%></td>
        <td><%= link_to "Download", {:controller => "signup", :action => "download_ticket", :person_id => t.id }, data: { turbolinks: false } %>  </td>

      </tr>
  <% end%>

</table>

