<!-- Hardcoding this for now-->
<table class="table">
  <tbody><tr><th> Ticket Type</th>
    <th> Name of Ticket</th>
    <th>Description</th>
    <th>Price</th>
  </tr>

  <tr>

    <td> player </td>
    <td><input type="hidden" value="player" name="tournament[tournament_tickets_attributes][0][ticket_type]" id="tournament_tournament_tickets_attributes_0_ticket_type"><div class="form-group"><label class="control-label col-sm-3" for="tournament_tournament_tickets_attributes_0_ticket_name">Ticket name</label><div class="col-sm-5"><input class="form-control" type="text" name="tournament[tournament_tickets_attributes][0][ticket_name]" id="tournament_tournament_tickets_attributes_0_ticket_name"></div></div></td>
    <td><div class="form-group"><label class="control-label col-sm-3" for="tournament_tournament_tickets_attributes_0_ticket_desc">Ticket desc</label><div class="col-sm-5"><input class="form-control" type="text" name="tournament[tournament_tickets_attributes][0][ticket_desc]" id="tournament_tournament_tickets_attributes_0_ticket_desc"></div></div></td>
    <td><div class="form-group"><label class="control-label col-sm-3" for="tournament_tournament_tickets_attributes_0_ticket_price">Ticket price</label><div class="col-sm-5"><input class="form-control" type="text" name="tournament[tournament_tickets_attributes][0][ticket_price]" id="tournament_tournament_tickets_attributes_0_ticket_price"></div></div></td>

  </tr>
  <tr>

    <td> bronze_sponsor </td>
    <td><input type="hidden" value="bronze_sponsor" name="tournament[tournament_tickets_attributes][1][ticket_type]" id="tournament_tournament_tickets_attributes_1_ticket_type"><div class="form-group"><label class="control-label col-sm-3" for="tournament_tournament_tickets_attributes_1_ticket_name">Ticket name</label><div class="col-sm-5"><input class="form-control" type="text" name="tournament[tournament_tickets_attributes][1][ticket_name]" id="tournament_tournament_tickets_attributes_1_ticket_name"></div></div></td>
    <td><div class="form-group"><label class="control-label col-sm-3" for="tournament_tournament_tickets_attributes_1_ticket_desc">Ticket desc</label><div class="col-sm-5"><input class="form-control" type="text" name="tournament[tournament_tickets_attributes][1][ticket_desc]" id="tournament_tournament_tickets_attributes_1_ticket_desc"></div></div></td>
    <td><div class="form-group"><label class="control-label col-sm-3" for="tournament_tournament_tickets_attributes_1_ticket_price">Ticket price</label><div class="col-sm-5"><input class="form-control" type="text" name="tournament[tournament_tickets_attributes][1][ticket_price]" id="tournament_tournament_tickets_attributes_1_ticket_price"></div></div></td>

  </tr>
  <tr>

    <td> silver_sponsor </td>
    <td><input type="hidden" value="silver_sponsor" name="tournament[tournament_tickets_attributes][2][ticket_type]" id="tournament_tournament_tickets_attributes_2_ticket_type"><div class="form-group"><label class="control-label col-sm-3" for="tournament_tournament_tickets_attributes_2_ticket_name">Ticket name</label><div class="col-sm-5"><input class="form-control" type="text" name="tournament[tournament_tickets_attributes][2][ticket_name]" id="tournament_tournament_tickets_attributes_2_ticket_name"></div></div></td>
    <td><div class="form-group"><label class="control-label col-sm-3" for="tournament_tournament_tickets_attributes_2_ticket_desc">Ticket desc</label><div class="col-sm-5"><input class="form-control" type="text" name="tournament[tournament_tickets_attributes][2][ticket_desc]" id="tournament_tournament_tickets_attributes_2_ticket_desc"></div></div></td>
    <td><div class="form-group"><label class="control-label col-sm-3" for="tournament_tournament_tickets_attributes_2_ticket_price">Ticket price</label><div class="col-sm-5"><input class="form-control" type="text" name="tournament[tournament_tickets_attributes][2][ticket_price]" id="tournament_tournament_tickets_attributes_2_ticket_price"></div></div></td>

  </tr>
  <tr>

    <td> gold_sponsor </td>
    <td><input type="hidden" value="gold_sponsor" name="tournament[tournament_tickets_attributes][3][ticket_type]" id="tournament_tournament_tickets_attributes_3_ticket_type"><div class="form-group"><label class="control-label col-sm-3" for="tournament_tournament_tickets_attributes_3_ticket_name">Ticket name</label><div class="col-sm-5"><input class="form-control" type="text" name="tournament[tournament_tickets_attributes][3][ticket_name]" id="tournament_tournament_tickets_attributes_3_ticket_name"></div></div></td>
    <td><div class="form-group"><label class="control-label col-sm-3" for="tournament_tournament_tickets_attributes_3_ticket_desc">Ticket desc</label><div class="col-sm-5"><input class="form-control" type="text" name="tournament[tournament_tickets_attributes][3][ticket_desc]" id="tournament_tournament_tickets_attributes_3_ticket_desc"></div></div></td>
    <td><div class="form-group"><label class="control-label col-sm-3" for="tournament_tournament_tickets_attributes_3_ticket_price">Ticket price</label><div class="col-sm-5"><input class="form-control" type="text" name="tournament[tournament_tickets_attributes][3][ticket_price]" id="tournament_tournament_tickets_attributes_3_ticket_price"></div></div></td>

  </tr>

  </tbody></table>

