<h1>Homepage</h1>

<label> Email: </label>
<input type="text"/>
<BR/><BR/>

<label> Password: </label>
<input type="password"/>
<BR/> <BR/>

<a href="/users/account/">
   <input type="button" value="Sign In"/>
</a>

<a href = "/users/forgot_password"> Forgot Password </a>
<BR/><BR/>
<%= link_to 'Sign up', new_user_path %></td>