<div class="container">

<%= render 'layouts/link_back_to_event_page' %>
	<h1>Creating a new user</h1>

	<%= render 'devise/shared/errors' %>
  	<BR/><BR/>

	<%= render 'devise/shared/personal' %>

	<%= link_to 'Back', :back %>

</div>