<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Success!</h3>
  </div>
  <div class="panel-body">
    Your refund email has been sent to the organizer. They will back in touch with you shortly
    <button class=" btn pull-right "><a href=<%= "/tournaments/#{params[:tournament_id]}" %>>Back To Tournament Page </button>
  </div>
</div>