<table class="table">
  <tr><th> Name of Event</th>
  <th>Start Time</th>
  <th>End Time</th>
  <th></th></tr>
  <% tournament_events.each do|e|%>
  <tr>
    <td><%=e.event_name%></td>
    <td><%=e.start_time.strftime("%I:%M %p") if e.start_time%></td>
    <td><%=e.end_time.strftime("%I:%M %p") if e.end_time%></td>

  </tr>
  <% end%>

</table>