<div class="events-panel">
  <h2>Events</h2>
  <%=render  'tournament_events/list', tournament_events: @tournament.tournament_events %>

  <h2>Create New Event</h2>
  <%= render 'tournament_events/createevent'%>

</div>