<!DOCTYPE HTML>
<html>
	<head>
		<style type="text/css">
		.col-spacing {
			padding-bottom: 20px;
			margin: auto;
		}
		#bottom-line {
    	border-bottom: solid;
		}
		.events-container{
			margin: auto;
			width: 70%;
			text-align:center;
			border: solid;
			padding-top:20px;
			padding-bottom:20px;
		}
		.events-view-selector {
			margin: auto;
			width: 30%;
			padding-top:30px;
			padding-bottom:10px;
			text-align:center;
			border: solid;
		}
		.player-signup {
			margin: auto;
			width: 30%;
			padding-top:30px;
			padding-bottom:10px;
			text-align:center;
			border: solid;
		}
		.footer-view {
			margin: auto;
			padding-top:30px;
			padding-bottom:10px;
			text-align:center;
			border: solid #ff69b4;
		}
		.content-card {
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin-bottom: 20px;
      text-align: center;
    }
    .content-card-title {
      border-style: solid;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      width:50%;
      margin:0 auto;
      text-align: center;
      align-self: center;
    }
		</style>
	</head>
	<body>
		<div class="row" id="bottom-line">
			<h1 class="col-md-7 col-spacing ">General Landing Page</h1>
		</div>
		<div class="row">
			<div class="center-block events-view-selector">
				<%= button_to 'List', {:controller => "welcome", :action => "hello_world", :state => "List"}, :method=>:post %>
				<%= button_to 'Map', {:controller => "welcome", :action => "hello_world", :state => "Map"}, :method=>:post %>
			</div>
			<h4 style="text-align:center;">Tournaments Near Me</h4>
			<%= render(@state == "Map" ? 'layouts/general_map_view' : 'layouts/general_list_view') %>

		</div>
		<div class="row">
			<div class="center-block player-signup">
				<%= button_to 'Signup', {:controller => "signup", :action => "new"}, :method=>:get %>
			</div>
		</div>
	</body>
</html>
