<script>
  window.onload=function(){
   $(".card .card-title").dotdotdot( {height: 30});
  };
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88266161-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="row">

  <div class="banner-image">
  <%= image_tag "cover.jpg", :class=>'img-responsive'%>
  </div>


</div>

    <div class ="row">
      <div class="col-md-10 col-md-offset-1">
      <h4 >Top 5 Upcoming Tournaments</h4>

      <%= render 'layouts/general_top_view' %>
      </div>
    </div>

		<div class="row">
			<div class="col-md-2 col-sm-12 col-md-offset-5 text-center player-signup">
				<%= button_to 'View all Available Tournaments', {:controller => "signup", :action => "new"}, :method=>:get, :class=> 'btn btn-default' %>
			</div>
		</div>
