<script>
  window.onload=function(){
   $(".card .card-title").dotdotdot( {height: 30});
  };
</script>
<div class="row">

  <div class="banner-image">
  <%= image_tag "cover.jpg", :class=>'img-responsive'%>
  </div>


</div>

    <div class ="row">
      <div class="col-md-10 col-md-offset-1">
      <h4 >Top 5 Upcoming Tournaments</h4>

      <%= render 'layouts/general_top_view' %>
      </div>
    </div>
		<div class="row">
			<div class="col-md-2 col-sm-12 col-md-offset-5 text-center player-signup">
				<%= button_to 'View all Available Tournaments', {:controller => "signup", :action => "new"}, :method=>:get, :class=> 'btn btn-default' %>
			</div>
		</div>
