<h2>Privacy Policy</h2>
<p>This Privacy Statement is to inform you how the <%=@project_name%> gathers and uses your personal and non-personal information when you visit our web site. <%=@project_name%> reserves the right to change this Privacy Statement at any time by notifying visitors to this web site of the existence of a new Privacy Policy.</p>

<h3>What Personal Information is Collected From You</h3>
<p>
We do not collect personal information about you unless you specifically and knowingly provide such information to us. Instances where we may collect such information include:

Where you have disclosed personally identifiable information on discussion forums, career listing postings, etc.

We endeavor only to collect personal information necessary in the circumstances. In the above-mentioned instances, personal information collected may include your name, organization name, address, phone number, fax number. and e-mail address.
</p>


<h3>How Your Personal Information is Used by <%=@project_name%> </h3>
<p>
If you have provided your personal information by filling in a form, your personal information will only be used for the purposes of that request or purchase, unless you otherwise provide us with your consent. Non-personal aggregate information may also be extracted or compiled from the information we collect. Such information may be used to generate statistics and aggregate reports for internal use by <%=@project_name%>. In this instance, these statistics and reports will contain only aggregated and no personally identifiable information. Your identity is kept strictly anonymous.
</p>