<h1>Site Map</h1>
<div class="list-group">
  <a href="https://golf-tournament-app.herokuapp.com/about/contact" class="list-group-item">Contacts</a>
  <a href="https://golf-tournament-app.herokuapp.com/about/features" class="list-group-item">Features</a>
  <a href="https://golf-tournament-app.herokuapp.com/about/faq" class="list-group-item">FAQ</a>
  <a href="https://golf-tournament-app.herokuapp.com/about/partners" class="list-group-item">Partners</a>
  <a href="https://golf-tournament-app.herokuapp.com/about/company" class="list-group-item">About Us</a>

  <a href="https://golf-tournament-app.herokuapp.com/legal/privacy" class="list-group-item">Privacy Policy</a>
  <a href="https://golf-tournament-app.herokuapp.com/legal/terms_of_service" class="list-group-item">Terms of Service</a>
  <a href="https://golf-tournament-app.herokuapp.com/legal/site_map" class="list-group-item">Site Map</a>
</div>
