<div>
  <%= form_tag '/tournament_images/upload', method: :post, class: 'dropzone file-dropzone' do %>
      <div class="fallback">
        <%= file_field_tag 'media', multiple: true %>
      </div>
  <% end %>
</div>