<h1>About <%=@project_name%></h1>
<p><%=@project_name%> is the #1 Golf App platform that reaches a worldwide audience in over 20 countries!</p>
<p>The carefully blended user and event experience has allowed organizers to easily create amazing golf applications that engage attendees on an unparalleled level! </p>
