<h1 id="contact_header">
	Contact Us if you have any Questions? Comments? Get in touch with us!
</h1>
<p id="contact_email_number">
Headquarters: +1 (416) 133 3771
Email us: <%=@project_name%>@<%=@project_name%>.com
</p>
<p id ="contact_customer_appreciation">
	"The service that you get when you do business with <%=@project_name%> feels like hitting a hole in one!" 
</p>
