<h1 id="contact_header">
	The Best Way To Build Your Golf Tournament App! 
</h1>

<div class="row">
	<div class="col-md-6">
		<div class="card">
		  <img class="card-img-top" src="http://res.cloudinary.com/dmlhwmpms3/image/upload/c_scale,h_200,w_400/v1480472534/csc444_register_oslcut.png" alt="Card image cap">
		  <div class="card-block">
		    <p class="card-text">Register and/or Signup With Third Party Applications!</p>
		  </div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card">
			  <img class="card-img-top" src="http://res.cloudinary.com/dmlhwmpms3/image/upload/c_scale,h_200,w_400/v1480473081/Screen_Shot_2016-11-29_at_9.30.57_PM_fwiiip.png" alt="Card image cap">
			  <div class="card-block">
			    <p class="card-text">Easily View and Organize Your Events!</p>
			  </div>
			</div>
	</div>
	
	<div class="col-md-6">
		<div class="card">
			  <img class="card-img-top" src="..." alt="Will Add Photo once we create a beautiful event app">
			  <div class="card-block">
			    <p class="card-text">Real Estate for Sponsors!</p>
			  </div>
			</div>
	</div>

	<div class="col-md-6">
		<div class="card">
			  <img class="card-img-top" src="..." alt="Will Add Photo once we create a beautiful event app">
			  <div class="card-block">
			    <p class="card-text">Simple, Intuitive Event Pages!</p>
			  </div>
			</div>
	</div>
</div>