<style type="text/css">
.center_partners {
	width:800px;
	margin: 0 auto;
	text-align: center;
}

</style>

<h1 class="center_partners">Let's make golf events great again!</h1>
<h2></h2>
<h2 class="center_partners"><em>Become a <%=@project_name%> Partner!</em></h2>

<div class="center_partners">
<h2> Global Partners </h2>
<img src="http://res.cloudinary.com/dmlhwmpms3/image/upload/c_scale,h_400,w_600/v1480475610/golfing-brands_hywv7o.jpg" >
</div>