// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#userDashboard {
  .mycreatedtournaments-panel {
    .small-accent {
      width: 15px;
      height: 15px;
      background-color: green;
    }
    h3{
      text-align:center;
    }
  }
  .mytournaments-panel {
    .small-accent {
      width: 15px;
      height: 15px;
      background-color: blue;
    }
    h3{
      text-align:center;
    }
  }
}
