// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dashboard-panel{

  .mytournaments-panel{
    display:inline-block;
    margin-left: 50px;

  }
  .tournaments-panel{
    float:left;
    display:inline-block;
  }
}