<!DOCTYPE HTML>
<html>
	<head>

	</head>
	<body>
		<div class="row" id="bottom-line">
			<h1 class="col-md-7 col-spacing ">Tournament Search</h1>
		</div>

		<div class="row">

			<div class="text-center events-view-selector">
				<%= button_to 'List', {:controller => "tournament_list", :action => "list", :state => "List"}, :method=>:post, :class=> 'btn btn-default' %>
				<%= button_to 'Map', {:controller => "tournament_list", :action => "list", :state => "Map"}, :method=>:post, :class=>'btn btn-default' %>
			</div>
      <br>
      <div class ="row">
        <div class="col-md-10 col-md-offset-1">
          <%= render(@state == "Map" ? 'layouts/general_map_view' : 'layouts/general_list_view') %>

        </div>
      </div>


		</div>
	</body>
</html>
