<table class="table">
    <tr>
        <th>Name of Feature</th>
        <th>Description</th>
        <th></th>
    </tr>
    <% tournament_features.each do|f|%>
    <% if f.name %>
    <tr>
        <td><%=f.name%></td>
        <td><%=f.description%></td>
        <td>
          <a class="btn-danger btn-sm" href="/tournaments/<%=f.tournament_id%>/tournament_features/<%=f.id%>" data-method="delete">
              <i class="pg-trash"></i>
              <span class="bold">Delete</span>
          </a>
        </td>
    </tr>
    <% end %>
    <% end %>
</table>
