<h2>Thanks you!</h2>
<p>Your payment of <strong><%= number_to_currency(@amount * 0.01) %></strong>
 has been received for id <strong><%= (@transaction_id) %></strong>.</p>

<%= link_to("Go to Print Ticket",
    {:controller => 'signup', :action => 'new'}) %> 

