<div class="center-text">
	Your team's Tee Off Time :  
</div>

<table class="table table-bordered">
	<tr>
		<th> Group Number</th>
		<th> Name></th>
		<th> Checked in </th>
	</tr>
	<% @members.each do |member| %>
	<tr>
		<th><%=member['group']%></th>
		<th><%=member['name']%></th>
		<th> 1</th>
	</tr>	
	<% end %>
</table>


