<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#eventSlides').carousel({
            interval: 3000
        });


    });


 </script>

<% if @profile_pictures.length > 0 %>
<div id="eventSlides" class="carousel slide" data-ride="carousel">


  <div class="carousel-inner" role="listbox">
    <% @profile_pictures.each_with_index do |s, i| %>
        <% itemclass=i==0? "item active" :"item" %>


        <div class="<%= itemclass %>">
          <%= image_tag s.image, :class=> "img-responsive"%>
        </div>
    <% end %>
  </div>
  <a class="left carousel-control" href="#eventSlides" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#eventSlides" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

<% end %>


