<div class="row" style="border-bottom-style: solid;">
	<div class="col-md-6 col-spacing">
		<h1>
		Hello <%=@first_name%> !
		</h1>
		<br/>
	</div>
	<div class="col-md-2 col-spacing">
		<%= button_to 'Event Stats', {:controller => "tournament_stats", :action => "show"}, :method=>:get %>
	</div>
	<div class="col-md-2 col-spacing">
		<%= button_to 'Edit Event', {:controller => "tournaments", :action => "edit"}, :method=>:get %>
	</div>	
</div>

