<footer class="footer navbar-fixed-bottom">
	<div class="container-fluid">
		<h5>Connect with us on: </h5>
		<a href = "https://facebook.com">
			<img src ="/images/facebook-icon.png" alt = "Facebook link">
		</a>
		<a href = "https://twitter.com">
			<img src ="/images/twitter-icon.png" alt = "Twitter link">
		</a>
		<a href = "https://www.linkedin.com/">
			<img src ="/images/linkedin-icon.png" alt = "Linkedin link">
		</a>
	</div>
</footer>