<div id="footer-content">
  <div class="row">
    <div id="footer-social" class="col-md-4">
      <h5>Connect with us on: </h5>
      <a href="https://facebook.com">
        <img src="/images/facebook-icon.png" alt="Facebook link">
      </a>
      <a href="https://twitter.com">
        <img src="/images/twitter-icon.png" alt="Twitter link">
      </a>
      <a href="https://www.linkedin.com/">
        <img src="/images/linkedin-icon.png" alt="Linkedin link">
      </a>
    </div>

    <div class="footer-links col-md-8">

      <div class="col-md-4">
        <ul>
          <li><a href="/about/contact">Contacts</a></li>
          <li><a href="/about/features">Features</a></li>
          <li><a href="/about/faq">FAQ</a></li>
          <li><a href="/about/partners">Partners</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li><a href="/legal/privacy">Privacy Policy</a></li>
          <li><a href="/legal/terms_of_service">Terms of Service</a></li>
          <li><a href="/about/company">About Us</a></li>
          <li><a href="/legal/site_map">Site Map</a></li>
        </ul>
      </div>

      <div class="col-md-4" id="google_translate_element"></div>

      <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }
      </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        

    </div>
  </div>

</div>