<style type="text/css">
.gold_style_image {
    width: 400px;
    height: 300px;
  }
</style>

<%if @gold_sponsors %>
	<div id="goldSponsors">
		<% @gold_sponsors.each do|g|%>
			<%= image_tag g.company_logo, :class => "gold_style_image" %>
		<% end%>
	</div>
<%end%>

<script>
	function swapImages() {
    var $current = $('#goldSponsors img.gold_style_image:visible');
    var $next = $current.next();
    if($next.length === 0) {
        $next = $('#goldSponsors img.gold_style_image:first');
    }
    $current.hide();
    $next.show();
}

function initialTurnOff() {
    $("div img.gold_style_image").hide().filter(":first-child").show();
    $("img.gold_style_image").not("img.gold_style_image").hide();
}

$(document).ready(function() {
    // Run our swapImages() function every 0.5 secs
    initialTurnOff();
    setInterval(swapImages, 2000);
});
</script>
