<% if session[:tournament_id]%>
	<br/>
  <div>
   <%= link_to 'Return back to Event Page!', tournament_path(session[:tournament_id]), data: { turbolinks: false } %>
   <%= button_to 'Buy Tickets for Event ', {:controller => "signup", :action => "signup_from_tournament", :id => session[:tournament_id]}, :method=>:get %>
  </div>
  <br/>
<% end %>

