<% if session[:tournament_id]%>
	<br/>
  <div>
    <%= link_to 'Return back to Event Page!', tournament_path(session[:tournament_id]), data: { turbolinks: false }, :class=> 'btn btn-default' %>
    <%= button_to 'Buy Tickets for Event ', {:controller => "signup", :action => "signup_from_tournament", :id => session[:tournament_id]}, :method=>:get, :class=> 'btn btn-default' %>
  </div>
  <br/>
<% end %>

