<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Golf Tournament App</a>
    </div>

  <ul class="nav navbar-nav">
      <%= nav_link 'Home', root_path %>
      <%= nav_link 'Dashboard', dashboard_index_path%>
  </ul>
  
   <ul class="nav navbar-nav navbar-right">
   <% if user_signed_in? %>
    <li><a href="/users/edit/">My Account</a></li>
    <li> <%= link_to "Logout", destroy_user_session_path, :method => :delete %> </li>
    <% else %>
      <li><a href="/users/sign_in/">Login/Register</a></li>
    <% end %>
    </ul>
 
  </div>
</nav>
