<style type="text/css">
.silver_style_image {
    width: 150px;
    height: 150px;
  }
</style>

<%if @silver_sponsors %>
	<div id="silverSponsors">
		<% @silver_sponsors.each do|g|%>
			<%= image_tag g.company_logo, :class => "silver_style_image" %>
		<% end%>
	</div>
<%end%>

<script>
	function swapSilverImages() {
    var $current = $('#silverSponsors img.silver_style_image:visible');
    var $next = $current.next();
    if($next.length === 0) {
        $next = $('#silverSponsors img.silver_style_image:first');
    }
    $current.hide();
    $next.show();
}

function initialSilverTurnOff() {
    $("div img.silver_style_image").hide().filter(":first-child").show();
    $("img.silver_style_image").not("img.silver_style_image").hide();
}

$(document).ready(function() {
    // Run our swapImages() function every 0.5 secs
    initialSilverTurnOff();
    setInterval(swapSilverImages, 2000);
});
</script>
